  * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
    .topBar {
    height: 60px;
  }
  
  .gridHolder {
    display: flex;
    background-color: aqua;
    justify-content: center;
    margin: 2% 10%;
    height: 500px;
  }
  


  .gridCell {
  
    width: 47px;
    height: 30px;
    outline: 1px solid rgb(0, 0, 0);
    padding-top: 15px;
    text-align: center;
   
  
  }
  
  .startNode {
    background-color: green;
  }

  .neutralNode {
    background-color: yellow;
  }

  .endNode {
    background-color: red;
  }

  .wallNode {
    background-color: grey;
  }