body {
  background-color: blueviolet;
}

.topBar {
  height: 50px;
}

.gridHolder {
  display: flex;
  background-color: aqua;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.gridRow {

  display: inline-grid;

}

