  * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  body {
    background-color: rgb(174, 238, 208, 0.5);
  }
    .topBar {
    height: 55px;
  }

  .topBarItem {
    margin: 5px 10px;
    height: 40px;
    font-family: 'Courier', sans-serif;

  }
  
  .gridHolder {
    display: flex;
    justify-content: space-around;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
  }
  
  .topBar  {
    display: flex;
  }

  button {
    background-color: rgb(221, 139, 81);
    font-weight: bold;
  }


  .gridCell {
  
    width: 22px;
    height: 20px;
    outline: 1px solid rgb(0, 0, 0);
  }
  
  .startNode {
    background-color: rgb(255, 242, 63);
  }

  .neutralNode {
    background-color: rgb(82, 233, 102);
    opacity: 50%;
  }

  .endNode {
    background-color: red;
  }

  .wallNode {
    background-color: grey;
  }

  .visitedNode {
    background-color: rgb(47, 47, 167);
  }

  .pathNode {
    background-color: rgb(248, 27, 193);
  }